@charset "UTF-8";

* {
    margin: 0px;
    border: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: lightcoral;
    background-color: lightskyblue;
    border-radius: 5px;
    animation-duration: 2s;
}

section {
    padding: 10vh 0vh;
    padding-left: 40px;
    line-height: 30px;

}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(92, 44, 44);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.521);
    width: 350px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}